/*Copyright Jason McKee 2017 All rights reserved. */
#container{
  height: 480px;
  width: 480px;
  margin-left: 20px;
  margin-right: auto;
  float:left;
}

#container {
  border: 1px dashed gray;

}
#reset-button{
  float:left;
  margin-left: 20px;
  margin-top: 100px;
  font-size: 18px;
  font-family: arial,sans-serif;
  background-color: #eeeeee;
  color:gray;
  border-radius:3px;
}
#reset-button:hover {
  color:black;
}
#reset-button:focus {
  box-shadow:none;
  outline-style:none;
}
